.product {
    background: lightblue;
    border: .1rem solid black;
    box-shadow: 0 5px 5px cornflowerblue;
    padding: 1rem;
    margin: 1rem;
}
.learnCSS {
    background: red;
    border: .1rem solid black;
    box-shadow: 0 5px 5px darkred;
    padding: 1rem;
    margin: 1rem;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:1.5rem;
}
@media all and (min-width: 800px) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1rem;
    }
}

.main {
    /*margin-left: 10rem;*/
    padding: 0rem 5rem;
    /*padding: 1rem;*/
    font-family: sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    background: lightGray;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    background-color: #888888;
    border: .1rem solid black;
}

.item {
    order: 5;
    flex-grow: 4;
    flex-shrink: 3;
    align-self: center;
    border: .1rem solid black;
    padding: 1rem;
    margin: 1rem;
    background: lightGray;
}

    .sidenav {
        height: 100%;
        width: 10rem;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #888888;
        overflow-x: hidden;
        padding-top: 1rem;
        border: .1rem solid black;
    }

    .sidenav a {
        display: block;
        margin-top: .5rem;
        border: .1rem solid black;
        /*padding: 2rem;*/
        background-color: red;
        border-radius: 25px;
        box-shadow: 0 5px 0 darkred;
        color: black;
        padding: .5rem .75rem;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
    }

    .sidenav a:hover {
        background-color: #ce0606;
    }

    .sidenav a:active {
        box-shadow: none;
        top: 5px;
    }




/* Header */
.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Header */
.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
}
