/*body {
    padding: 1rem;
    font-family: sans-serif;
    font-size: 16pt;
    box-sizing: border-box;
    background: lightGray;
}*/

.product {
    background: lightblue;
    border: .1rem solid black;
    box-shadow: 0 5px 5px cornflowerblue;
    padding: 1rem;
    margin: 1rem;
}
.learnCSS {
    background: red;
    border: .1rem solid black;
    box-shadow: 0 5px 5px darkred;
    padding: 1rem;
    margin: 1rem;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:1.5rem;
}
@media all and (min-width: 800px) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1rem;
    }
    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
           user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: #4f7794;
    }


    /* The hamburger button hidden inside an input element */
    #menuToggle input {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: -7px;
        left: -5px;
        padding: 0;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }

    #menuToggle label {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
    }
    #menuToggle label span {
        display: none;
    }

    /*
     * Change the color of the hamburger when toggled
     */
    #menuToggle input:checked + label div {
        background: #232323;
    }

    /*
     * Use absolute positioning to place the menu off-screen
     */
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #ededed;
        list-style-type: none;
        /* Hide the menu off-screen to the left */
        left: -100%;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        transition: left 0.3s ease;
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
     * Slide the menu in from left when the input is checked
     */
    #menuToggle input:checked ~ ul {
        left: 0;
    }
}

.main {
    margin-left: 10rem;
    padding: 0rem 5rem;
    /*padding: 1rem;*/
    font-family: sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    background: lightGray;
}
#menuToggle {
    height: 100%;
    width: 10rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #888888;
    overflow-x: hidden;
    padding-top: 1rem;
    border: .1rem solid black;
}

#menuToggle a {
  display: block;
  margin-top: .5rem;
  border: .1rem solid black;
  /*padding: 2rem;*/
  background-color: red;
  border-radius: 25px;
  box-shadow: 0 5px 0 darkred;
  color: black;
  padding: .5rem .75rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

#menuToggle a:hover {
  background-color: #ce0606;
}

#menuToggle a:active {
  box-shadow: none;
  top: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    background-color: #888888;
    border: .1rem solid black;
}

.item {
    order: 5;
    flex-grow: 4;
    flex-shrink: 3;
    align-self: center;
    border: .1rem solid black;
    padding: 1rem;
    margin: 1rem;
    background: lightGray;
}
