* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: sans-serif;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;

  text-decoration: none;
  color: #efefef;
  margin-top: .5rem;
  border: .1rem solid black;
  background-color: red;
  border-radius: 25px;
  box-shadow: 0 5px 0 darkred;
  color: black;
  padding: .25rem .75rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.nav > .nav-links > a:hover {
  background-color: #ce0606;
}

.nav > .nav-links > a:active {
  box-shadow: none;
  top: 5px;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.product {
    background: lightblue;
    border: .1rem solid black;
    box-shadow: 0 5px 5px cornflowerblue;
    padding: 1rem;
    margin: 1rem;
}
.learnCSS {
    background: red;
    border: .1rem solid black;
    box-shadow: 0 5px 5px darkred;
    padding: 1rem;
    margin: 1rem;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:1.5rem;
}
@media all and (min-width: 800px) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1rem;
    }
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    background-color: #BEBEBE;
    border: .1rem solid black;
}

.item {
    order: 5;
    flex-grow: 4;
    flex-shrink: 3;
    align-self: center;
    border: .1rem solid black;
    padding: 1rem;
    margin: 1rem;
    background: red;
}

.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container1 {
    padding: 0 16px;
    background: red;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    border: .1rem solid black;

}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: white;
}

.lastName {
    font-size: 1rem;
    font-color: cornflowerblue
}
.About {
    background: #BEBEBE;
    border: .1rem solid black;
    box-shadow: 0 5px 5px #BEBEBE;
    padding: 1rem;
    margin: 1rem;
}

