/*body {
    padding: 1rem;
    font-family: sans-serif;
    font-size: 16pt;
    box-sizing: border-box;
    background: lightGray;
}*/

.product {
    background: lightblue;
    border: .1rem solid black;
    padding: 1rem;
    margin: 1rem;
}
.learnCSS {
    background: red;
    border: .1rem solid black;
    padding: 1rem;
    margin: 1rem;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}

.main {
    margin-left: 10rem;
    padding: 0rem 5rem;
    /*padding: 1rem;*/
    font-family: sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    background: lightGray;
}
.sidenav {
    height: 100%;
    width: 10rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #888888;
    overflow-x: hidden;
    padding-top: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    background-color: #888888;
}

.item {
    order: 5;
    flex-grow: 4;
    flex-shrink: 3;
    align-self: center;
    border: .1rem solid black;
    padding: 1rem;
    margin: 1rem;

}
