body {
  padding: 1rem;
  font-family: sans-serif;
  font-size: 16pt;
  box-sizing: border-box;
  background: lightGray;
}

.product {
  background: lightblue;
  border: .1rem solid black;
  padding: 1rem;
  margin: 1rem
}
.learnCSS {
  background: red;
  border: .1rem solid black;
  padding 1rem;
  margin: 1rem
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1rem;
}
