<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Key Value Proposition </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/myStyleSheet.css">
</head>

<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Grocery Tracker
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/p/product.html">Product</a>
    <a href="/p/KVP.html">KVP</a>
    <a href="/p/UXUI.html">UX/UI</a>
    <a href="/p/IA.html">IA</a>
    <a href="/p/features.html">Features and Benefits</a>
  </div>
</div>

<body class="main">
    <div class="container">
        <h1 class="item">Cost</h1>
        <p class="item">
            We determined that the cost to produce this product will be
            approximately $56 total. The following is a breakdown of
            by component per unit:
            <ul>
                <li>camera $17</li>
                <li>Raspberry pi zero $15</li>
                <li>Contact Sensor $4</li>
                <li>Housing for componets $5</li>
                <li>labor Cost $15</li>
            </ul>
            We found this using consumer pricing for our components. So we believe our
            margins will be better than shown
        </p>
        <p class="item">
            The Fixed cost for product is server hosting at $50/month
            and Clarifai API at $30/month. These are the lower tiers that are
            aim at smaller business that are trying to ramp up. Pricing the product at
            75 per unit will cover the cost of product and maintaining fix cost. This would
            bring yearly profit to approx $100,000 for first year profit.
        </p>
        <p>
            We discussed also including adds in the app and charging to turn them off.
            this would still be under consideration. Another revenue string would be
            sell data on user food usage and habits. We believe this could be unethical.
            The last possible revenue stream was starting a service that you could use
            minimum inventory and auto order essential groceries for a small service fee.
            This is a feature we would like to add after the MVP process.
        </p>
    </div>
    <div class="container">
        <h1 class="item">Revenue</h1>
        <p class="item">
            We hope to sell 5,000 units the firsts year.
        </p>

        <p class="item">

        </p>
        <p class="item">
- Retail sales: $65
- Advertising or turn off ads for a price
- Service charge for automatic restock feature

        </p>
    </div>

</body>
</html>

