<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automatic Grocery Inventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/myStyleSheet.css">
<!--    <link rel="stylesheet" type="text/css" href="myStyleSheet.css">-->
</head>

<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Grocery Tracker
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/p/product.html">Product</a>
    <a href="/p/KVP.html">KVP</a>
    <a href="/p/UXUI.html">UX/UI</a>
    <a href="/p/IA.html">IA</a>
  </div>
</div>

<body class="main">
    <div class="container">
    <h1 class="item"> Features vs Benefits Part 1 </h1>
        <p class="item">
            The main feature would be the app. The app allows as a access point to the
            user inventory, grocery list, etc. The benefit to this feature is access
            to your inventory anywhere that you phone has service.
        </p>
        <p class="item">
            Feature is a low profile out of sight camera. The benefits to the camera is that it
            this allows for hand free tracking of items in and out of the fridge or cabinet.
        </p>
        <p class="item">
            Cloud storage would be another feature. This would provide the user this backup of
            all inventory, shopping list, etc.
        </p>
        <p class="item">
            Internet connectivity / Internet of Things device would a feature. This Feature would
            allow benefits addition services like auto shipment.
        </p>
        <p class="item">
            Computer vision item tracking would be last feature. This provides the benefit of
            know exactly what is in your inventory and save money by not buying items that are not needed.
            also prevent addition trips to the grocery store.
        </p>

    </div>

    <div class="container">
    <h1 class="item"> Product Interactions Part 2 </h1>
        <p class="item">
            The main interaction design would be Visual. We plan on a simple design that loads
            an easily read list that display the item, how many, and location. This data will
            automatically load and be present to the user immediately after opening the app.
        </p>
        <p class="item">
            another interaction would be Words. The data that is load will
            be easily filter with a search bar. This search bar will activly filter data providing
            intended data.
        </p>
        <p class="item">
            In a full product objects would be added as well. This would be done by having
            voice search to filter the list, order groceries, etc.
        </p>
        <p class="item">

        </p>
        <p class="item">

        </p>

    </div>
</body>

</html>
