<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Key Value Proposition </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/myStyleSheet.css">
</head>

<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Grocery Tracker
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/p/product.html">Product</a>
    <a href="/p/KVP.html">KVP</a>
    <a href="/p/UXUI.html">UX/UI</a>
    <a href="/p/features.html">Features and Benefits</a>
  </div>
</div>

<body class="main">
    <div class="container">
        <h1 class="item"> Information Architecture Part 1 </h1>
        <p class="item">
            <img src="../images/UI.JPG">
        </p>
                <p class="item">
            The user would need to know how to mount a camera to the fridge or
            cabinet. The goal is to make this as customer friendly as possible.
            a possible solution would be an easily removed adhesive like command
            hooks.

            The user would also need to understanding how to connect the device to Wi-Fi.
            We discussed that when the product it checks for a know network and if none
            are found it turn on bluetooth and search for a device. Once paired found the
            user can set up Wi-Fi on their phone on our app.
        </p>

        <p class="item">
            Dan Brown's principle of Choices would be the most important. The sole purpose
            for our product is to find or track what groceries. This means our user does not
            need a lot of choice. We see 2 main choices; what items do I have and what do
            I need.

            Another principle would be disclosure. We intend of the use to
            open the app, and it shows all the items in inventory in a table. This
            table will be quickly searchable with a search bar. We also intend to
            sort by name and location.

            Front doors plans on being implemented as well. We intend to have 3 tabs
            on the top of the page. This will allow the used to see where he is and
            what his options are. This will give the user a familiar interface no matter
            where the arrive at in the app.
        </p>
        <p class="item">
            I would say the most important would be topical the landing tab will be
            the inventory page. The next tab will be grocery list. and the lasts will
            be the setting. This will lead to a natural way of reading the options since
            we read left to right. The most important and most used will be the first
            list page options.
        </p>

    </div>
    <div class="container">
        <h1 class="item">Information Architecture Part 2 </h1>

        <p class="item">
            On the navigation bar I use color and contrast of the buttons
            to lead a users attention to points of interest. If the buttons
            where lighter gray or some other similiar color user attention would
            not go to these buttons as quickly.
        </p>
        <p class="item">
            On the home page I added alignment to the team section.
            This leads users eye to focus on this information.
        </p>
        <p class="item">
            In the team section of the homepage I also added Typographic
            hierarchy to bring attention to user names.
        </p>
    </div>

</body>
</html>
