<!DOCTYPE html>
<html>
<header> Automatic Grocery Inventory</header>
 <head>
   <meta charset="utf-8">
   <title> Automatic Grocery Inventory</title>
     <link rel="stylesheet" type="text/css" href="css/agile.css">
 </head>
<h1></h1>
 <body>
    <div>
        <p>
            Have you been to the grocery store forget if you had milk? Well, now you have
            no worries, with the automatic Grocery Inventory. This product will track
            what items that you have put in the refrigerator or cabinets. This inventory
            can be essay access by an app.
        </p>
        <p>
            This works by having a camera that is attached to the entrance to the groceries' storage area.
            When the cabinet is opened the camera is takes an image of the product entering. This image
            is processed with computer vision to identify the product. This item is entered into a database.
            The user than will be able to check what items are in the inventory. This data will then be able to
            retrieve from the app.
        </p>
        <p>
            Our team consists for 4 members: Joshua Smith, Jacob Camarillo, Maxime Ghesquire, and Ihyun Park.
            Joshua and Jacob is an Electrical Engineer focused on computer system design.
            computer system design and Max and Ihyun are Machine Learing and Controls depth in
            electrical engineering.
        </p>
    </div>
    <div>this is text</div>
<!--    <a href="./weeks/week1.html">week1</a>-->

<!--   <script type="text/javascript" src="rest.js"></script>-->
 </body>
</html>
