<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automatic Grocery Inventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/myStyleSheet.css">
<!--    <link rel="stylesheet" type="text/css" href="myStyleSheet.css">-->
</head>

<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Grocery Tracker
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/p/product.html">Product</a>
    <a href="/p/KVP.html">KVP</a>
    <a href="/p/UXUI.html">UX/UI</a>
    <a href="/p/IA.html">IA</a>
    <a href="/p/features.html">Features and Benefits</a>
  </div>
</div>

<body class="main">

<img src="https://department.ucsd.edu/_images/image-library/hero/geisel-clouds-bw.png" alt="LA" style="width:100%">
<section>
<div class="product">
    <h1>Automatic Grocery Inventory</h1>
    <p>
        Have you been to the grocery store forget if you had milk? Well, now you have
        no worries, with the automatic Grocery Inventory. This product will track
        what items that you have put in the refrigerator or cabinets. This inventory
        can be essay access by an app.
    </p>
    <p>
        This works by having a camera that is attached to the entrance to the groceries' storage area.
        When the cabinet is opened the camera is takes an image of the product entering. This image
        is processed with computer vision to identify the product. This item is entered into a database.
        The user than will be able to check what items are in the inventory. This data will then be able to
        retrieve from the app.
    </p>
</div>
<div class="learnCSS on the Web">
    <h1> UX improvements </h1>
      <p>
          I made three changes to the user interface. First I made a navigation bar at the top of the
          page. This allows for the user to easy get to any page on the website. This enables many of
          the dimensions of usability. It lowers viscosity, is more visible, allow the user to increment
          to the page they want. lowers the cognitive load.
    </p>
    <p>
        I next made the webpage responsive. When the page is view on mobile
        there are 2 columns and only one on mobile. I also made the navigation
        bar turn to a hamburger menu on mobile. I used this website as a guide
        <a href="https://codepen.io/jo_Geek/pen/xgbaEr"> CodePen Link.</a> This
        lower the same factors as above
    </p>
    <p>
        The last improvement I made is making the links look like buttons and made
        them look clickable. This improvement would fall under Role Expressiveness,
        and secondary Notation.
    </p>
  </div>
</section>

<div class="About">
    <H1>About Us</H1>
    <div class="row">
      <div class="column">
        <div class="card">
    <!--      <img src="img1.jpg" alt="Jane" style="width:100%">-->
          <div class="container1">
            <h2>Ihyun <br><mark class="lastName">Park</mark></h2>
            <p class="title">Machine Learning Design</p>
            <p>Electrical Engineering Student at UCSD focused on Machine Learning.</p>
    <!--        <p>example@example.com</p>-->
    <!--        <p><button class="button">Contact</button></p>-->
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
    <!--      <img src="img2.jpg" alt="Jacob" style="width:100%">-->
          <div class="container1">
            <h2>Jacob <br><mark class="lastName">Camarillo</mark></h2>
            <p class="title">Hardware Design</p>
            <p>Electrical Engineering Student at UCSD focused on Machine Learning.</p>
    <!--        <p>example@example.com</p>-->
    <!--        <p><button class="button">Contact</button></p>-->
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
    <!--      <img src="img3.jpg" alt="Max" style="width:100%">-->
          <div class="container1">
            <h2>Maxime <br><mark class="lastName">Ghesquiere</mark></h2>
            <p class="title">Machine Learning and Backend</p>
            <p>Electrical Engineering Student at UCSD focused on Machine Learning.</p>
    <!--        <p>example@example.com</p>-->
    <!--        <p><button class="button">Contact</button></p>-->
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
    <!--      <img src="img4.jpg" alt="Joshua" style="width:100%">-->
          <div class="container1">
            <h2>Joshua <br><mark class="lastName">Smith</mark></h2>
            <p class="title">Backend and Database</p>
            <p>Electrical Engineering Student at UCSD focused on Computer System Design.</p>
    <!--        <p>example@example.com</p>-->
    <!--        <p><button class="button">Contact</button></p>-->
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
    <!--      <img src="img4.jpg" alt="Joshua" style="width:100%">-->
          <div class="container1">
              <h2>David Bahena <br><mark class="lastName">Moctezuma</mark></h2>
            <p class="title">App Design</p>
            <p>Electrical Engineering Student at UCSD focused on Machine Learning.</p>
    <!--        <p>example@example.com</p>-->
    <!--        <p><button class="button">Contact</button></p>-->
          </div>
        </div>
      </div>
    </div>
</div>
<!--<script type="text/javascript" src="rest.js"></script>-->
</body>
</html>

