<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Automatic Grocery Inventory</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="myStyleSheets.css">
<style>
</style>
<body>

<img src="https://department.ucsd.edu/_images/image-library/hero/geisel-clouds-bw.png" alt="LA" style="width:100%">
<section>
<div class="product">
    <h1>Automatic Grocery Inventory</h1>
    <p>
        Have you been to the grocery store forget if you had milk? Well, now you have
        no worries, with the automatic Grocery Inventory. This product will track
        what items that you have put in the refrigerator or cabinets. This inventory
        can be essay access by an app.
    </p>
    <p>
        This works by having a camera that is attached to the entrance to the groceries' storage area.
        When the cabinet is opened the camera is takes an image of the product entering. This image
        is processed with computer vision to identify the product. This item is entered into a database.
        The user than will be able to check what items are in the inventory. This data will then be able to
        retrieve from the app.
    </p>
    <p>
        Our team consists for 4 members: Joshua Smith, Jacob Camarillo, Maxime Ghesquire, and Ihyun Park.
        Joshua and Jacob is an Electrical Engineer focused on computer system design.
        computer system design and Max and Ihyun are Machine Learning and Controls depth in
        electrical engineering.
    </p>
</div>
<div class="learnCSS">
  <h1> Learning about CSS </h1>
  <p>
    I implimented the box layout from CSS videos. I did this by using box-sizing in the body.
  </p>
  <p>
     Once I had the border-box setup, I adjusted the padding and widths of the divs. To make each div unique I used the class name by ".classname" to uniquely style the div.
  </p>
  <p>
    I then used relevant sizing for the padding and widths by using rems. rems stand for root em. this means it takes its size form the root element.
  </p>
  <p>
    Lastly, I applied the grid to display each of these each div side by side.
  </p>


  </div>
  </section>
<!--    <a href="./weeks/week1.html">week1</a>-->
<!--<script type="text/javascript" src="rest.js"></script>-->
</body>
</html>
