<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Key Value Proposition </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/myStyleSheet.css">
</head>

<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Grocery Tracker
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/p/product.html">Product</a>
    <a href="/p/KVP.html">KVP</a>
  </div>
</div>

<body class="main">
    <div class="container">
        <h1> Our Proposed User Interface</h1>
        <p class="item">
            <img src="../images/UI.jpeg">
        </p>
        <p class="item">
            Above is a mockup of what I picture for the user to interact with.
            I picture a 3 tab layout with the default will be a list of all the food
            in the user inventory. This will provide information into what is on hand,
            the quality, location, and time the last add to the inventory. This being
            the landing page will provide the user with quick access to this information.
            This information will be search able with search bar at the top of the page.
            This will allow the customer to search the items and locations.
        </p>
        <p class="item">
            The next table will be a grocery list table. This will be a basic list page,
            but this information can be checked with what on hand automatically. This will
            also provide convince due to the list and inventory being in the same application.
        </p>
        <p class="item">
            The hamburger menu will allow user to access other way of accessing data
            and other app setting. Options that can be manage it would be user setting,
            cabinet manager, and any other features for managing the groceries.
        </p>
    </div>
    <div class="container">
        <h1>UI in the Wild </h1>
        <p>
            The first Example that I found was From reddit.com. I believe that
            this is a good example of Law of Proximity. We see this in the layout
            of card like structure that holds each link. For example the card contains
            the up and down vote arrows, the comments link, the article link, who post,
            and more. By having all this information on a card it is easy to see what
            information and data go together.

            <img src="../images/reddit.jpeg">
        </p>

        <p>
            In the video game God of War, the player never see loading screens. This is
            achieved by hiding the loading screen with animations Kratos, the main character,
            squeezing in tight passage, lifting obstacle that are blocking the path, and pushing
            doors open. This give the illusion that the player never stops playing. another
            game that does this is Elite Dangerous. When the player changes star systems the load
            is hidden by a animation of the ship performing a hyperspace jump.

            <img src="../images/elite_dangerous.jpeg">
        </p>
        <p>
            Miller law states that user can hold 7 +/- 2 items in their memory.
            We see this commonly anywhere we have to enter number. phone, social, credit
            card. This can also apply to the ammount of information displayed on
            screen. The Google landing page has a minimalism layout with a search bar,
            a search button, I'm feeling lucky button, and the daily doodle. Every thing
            that is not commonly used is push to the edge of the screen with minimalism
            design.
        </p>
    </div>

</body>
</html>
