html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automatic Grocery Inventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/myStyleSheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <!-- Navigation bar -->
    <header class="header">
        <!-- Logo -->
        <a href="./" class="logo">Grocery Tracker</a>
        <!-- Hamburger icon -->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <!-- Menu -->
        <nav class="nav">
            <ul class="menu">
                <li><a href="./product.html">Product</a></li>
                <li><a href="./KVP.html">KVP</a></li>
            </ul>
        </nav>
    </header>
    <!-- Main content -->
    <main>
        <div class="container">
        <p class="item">
            Our Grocery store tracker helps shoppers or home cooks who want
            to make sure they do not buy un-need groceries or verify they
            have the required groceries at their home by automating
            the inventory process and creating a database of items on
            hand unlike other apps that just track what you bought.

            The Key Value Proposition of the Grocery Tracker is
            a seamless tracking of groceries going into and out
            of the user cabinet or fridge. The tracker is easy installed
            and hidden out of sight and will automate the tracking
            of the groceries. The user can easily access what is in the
            cabinet with an app or webpage.

        </p>
        <p class="item">
            This will allow for the user to never take inventory
            of what is in the cabinets and provide peace of mind
            when at the store that item they need is waiting for
            them at home. This will allow for the user to know
            exactly when an item has been placed in the cabinet.
        </p>
        <div class="item">
            Our product will allow for a completely automated
            the inventory of the food in your home. This would
            be an improvement over manually inventorying. Since
            manually would be time-consuming to perform and possible
            error.

            Also, this would be an improvement over apps that scan
            receipts since would track when you are use food and not just
            buy food.

            User would see the following benefits:
            <ul>
                <li>Performance: never have to check if you have an item since it is in app.</li>
                <li>Risk Reduction: never buy something at the store that you have at home. </li>
                <li>Convenience: any app with get you all the data you need. </li>
                <li>Save money: less money spend on items you already own or expense from multiple trips to the store.</li>
            </ul>
        </div>
        </div>
    </main>
</body>
</html>









<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Key Value Proposition </title>-->
<!--    <meta name="viewport" content="width=device-width,initial-scale=1">-->
<!--    <link rel="stylesheet" type="text/css" href="css/myStyleSheet.css">-->
<!--</head>-->

<!--&lt;!&ndash; Side navigation &ndash;&gt;-->
<!--<div class="sidenav">-->
<!--  <a href="./">Home / About Us</a>-->
<!--  <a href="./product.html">Product</a>-->
<!--</div>-->

<!--<body class="main">-->
<!--    <div class="container">-->
<!--        <p class="item">-->
<!--            Our Grocery store tracker helps shoppers or home cooks who want-->
<!--            to make sure they do not buy un-need groceries or verify they-->
<!--            have the required groceries at their home by automating-->
<!--            the inventory process and creating a database of items on-->
<!--            hand unlike other apps that just track what you bought.-->

<!--            The Key Value Proposition of the Grocery Tracker is-->
<!--            a seamless tracking of groceries going into and out-->
<!--            of the user cabinet or fridge. The tracker is easy installed-->
<!--            and hidden out of sight and will automate the tracking-->
<!--            of the groceries. The user can easily access what is in the-->
<!--            cabinet with an app or webpage.-->

<!--        </p>-->
<!--        <p class="item">-->
<!--            This will allow for the user to never take inventory-->
<!--            of what is in the cabinets and provide peace of mind-->
<!--            when at the store that item they need is waiting for-->
<!--            them at home. This will allow for the user to know-->
<!--            exactly when an item has been placed in the cabinet.-->
<!--        </p>-->
<!--        <div class="item">-->
<!--            Our product will allow for a completely automated-->
<!--            the inventory of the food in your home. This would-->
<!--            be an improvement over manually inventorying. Since-->
<!--            manually would be time-consuming to perform and possible-->
<!--            error.-->

<!--            Also, this would be an improvement over apps that scan-->
<!--            receipts since would track when you are use food and not just-->
<!--            buy food.-->

<!--            User would see the following benefits:-->
<!--            <ul>-->
<!--                <li>Performance: never have to check if you have an item since it is in app.</li>-->
<!--                <li>Risk Reduction: never buy something at the store that you have at home. </li>-->
<!--                <li>Convenience: any app with get you all the data you need. </li>-->
<!--                <li>Save money: less money spend on items you already own or expense from multiple trips to the store.</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->

<!--</body>-->
<!--</html>-->
