<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Product </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/myStyleSheet.css">
</head>

<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Grocery Tracker
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/p/KVP.html">KVP</a>
    <a href="/p/UXUI.html">UX/UI</a>
  </div>
</div>

<body class="main">
    <div class="container">
        <p class="item">
            The Grocery Tracker is a product that will automate the
            tracking of grocery. Our product will automate what groceries are
            in the cabinet by using computer vision to identify the items going
            into and out of the user cabinets. This will allow for the user to never have to remember what
            is in the cabinet at home or which cabinet that it is stored in.
            The product will consist of 4 parts, the hardware, item
            recognition by computer vision, storage server/database,
            and a webpage/app to view inventory.
        </p>
        <p class="item">
            The hardware will consist of a raspberry pi, camera, and
            a door sensor. When the door is opened the sensor will send
            a signal to the pi to activate the camera. The camera will take
            photos of the items going in and out of the fridge or cabinet.
            These image will then be sent to the computer vision processing.
        </p>
        <p class="item">
            Using computer vision or a neutral network the image will then be
            identified. The item identity and useful data such as capacity, amount
            left, and date placed into the cabinet will be then be sent to the
            database for storage.
        </p>
        <p class="item">
            This data will be webserver that store the data to a user. This
            information is sent to a mysql database to be stored and can  be
            retrieved at anytime by the user.
        </p>
        <p class="item">
            When the user is want to retrieve this data the user can use an
            app or webpage to send a request and the data is retrieved form the
            database and displayed to the user.
        </p>
        <p class="item">
            <img src="../images/empathy-map.png">
        </p>
    </div>
</body>
</html>
